---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout title="Kaza Tespit Tutanağı" description="Maddi hasarlı trafik kazalarında sigorta şirketi veya polise gerek kalmadan düzenlenebilen Kaza Tespit Tutanağı hakkında bilgi edinin ve indirin.">
  <div class="w-4/5 mx-auto">
    <h1 class="text-5xl font-bold text-blue-900">
      Kaza Tespit Tutanağı Nedir?
    </h1>
    <p class="text-gray-800 my-5 leading-loose text-lg">
      Kaza Tespit Tutanağı, maddi hasarlı trafik kazasına karışan araç
      sürücülerinin sigorta şirketi ya da polise gerek kalmadan kaza konusunda
      anlaşarak aralarında düzenlemiş olduğu tutanaktır.
    </p>
    <button
      class="text-gray-800 text-xl p-5 bg-black/10 cursor-pointer rounded-lg hover:text-yellow-300"
      type="button">Kaza Tespit Tutanağı İndir (PDF)</button
    >
  </div>
</PageLayout>
