---
import { Icon } from "astro-icon/components";
import { services } from "../data/services";

export interface Props {
  currentPath: string;
}

const { currentPath } = Astro.props;
---

<div class="bg-white p-6 rounded-lg shadow-md">
  <h3 class="text-xl font-bold text-gray-800 mb-4">Hizmetlerimiz</h3>
  <ul>
    {
      services.map((service) => (
        <li>
          <a
            href={service.url}
            class={`flex items-center gap-2 py-2 px-3 rounded-md transition-colors hover:bg-gray-100 ${currentPath === service.url ? 'bg-[#4DA8DA] text-white hover:text-white' : 'text-gray-700'}`}
          >
            <Icon name="mdi:chevron-right" class="w-5 h-5" />
            {service.name}
          </a>
        </li>
      ))
    }
  </ul>
</div>